<article class="profile-box">
	<div class="row">
	 	<div class="col-md-6 card">
	 		<div class="col-md-12 prof_header nopadding">Profile Header</div>
	 		<div class="row">
	 			<div class="col-md-6"><strong>E-Mail Address :</strong></div>
	 			<div class="col-md-6">{{ profile.user.Email | dash}}</div>
	 		</div>
	 		<div class="row">
	 			<div class="col-md-6"><strong>First Name :</strong></div>
	 			<div class="col-md-6">{{ profile.user.FirstName | dash}}</div>
	 		</div>
	 		<div class="row">
	 			<div class="col-md-6"><strong>Last Name :</strong></div>
	 			<div class="col-md-6">{{ profile.user.LastName | dash}}</div>
	 		</div>
	 		<div class="row">
	 			<div class="col-md-6"><strong>Street Address :</strong></div>
	 			<div class="col-md-6">{{ profile.user.StreetAddress | dash}}</div>
	 		</div>
	 	</div>
	 	<div class="col-md-6">.col-md-6</div>
	 	<div class="col-md-6">.col-md-6</div>
	 	<div class="col-md-6">.col-md-6</div>
	 </div>
</article>
