<article >

<div class="margin-left main-cat-item col-lg-6" ng-if="newbrowse.catDetails">
	<img src="assets\images\category\Hair Care.jpg">
	<div ng-bind="newbrowse.catDetails.Name" class="catName"></div>
	<div ng-bind="newbrowse.catDetails.Description" class="catDesc"></div>
</div>
<div class="sub_cat col-lg-2"  ng-repeat="item in newbrowse.catDetails.children">
	<a class="sub-cat-item margin-left" ui-sref="base.productList({id: item.ID})">
		<div >
			<img src="assets\images\category\catie.jpg">
			<div ng-bind="item.Name" class="catName"></div>
			<!-- <div ng-bind="item.Description" class="catDesc"></div> -->
		</div>
	</a>
</div>
	
</article>